.dashedBorder {
	$border-clr: var(--gray-light-clr);
	$dash-width: 10px;
	$border-thick: 2px;
	$border-space: 20px;
	border: none; /* Loại bỏ border mặc định */
	background: linear-gradient(to right, $border-clr $dash-width, transparent $dash-width) repeat-x,
		linear-gradient(to right, $border-clr $dash-width, transparent $dash-width) repeat-x,
		linear-gradient(to bottom, $border-clr $dash-width, transparent $dash-width) repeat-y,
		linear-gradient(to bottom, $border-clr $dash-width, transparent $dash-width) repeat-y;
	background-size: $border-space $border-thick, $border-space $border-thick, $border-thick $border-space,
		$border-thick $border-space;
	background-position: top, bottom, left, right;
}
