@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@function round($number) {
	@return calc(math.round($number * 50) / 50); //lam tron den 5 chu so
}
@function cal-font-size($base-size, $step) {
	//base size * (ti le scale)^step
	$result: $base-size * math.pow($scale-ratio, $step);
	@return round($result);
}

@function font-to-rem($size) {
	$result: calc($size / 16 * 1rem);
	@return round($result);
}

@function scaling-factor($min, $max, $step) {
	//tinh toan bien do dao dong scale cho tung tag -> tu dong responsive font size
	$result: calc(($max - $min) / ($max-width - $min-width) * 1000vw);
	@return round($result);
}

@function clamp-font-size($step) {
	$min: cal-font-size($base-min-size, $step);
	$max: cal-font-size($base-max-size, $step);
	$scaling: scaling-factor($min, $max, $step);
	//responsive font size
	@return clamp(font-to-rem($min), scaling-factor($min, $max, $step), font-to-rem($max));
}

$base-min-size: 14; //for mobile
$base-max-size: 16; //for desktop
$scale-ratio: 1.067; //ti le font scale
$min-width: 320;
$max-width: 1440;

$fs-xsm: clamp-font-size(-2);
$fs-sm: clamp-font-size(-1);
$fs-base: clamp-font-size(0);
$fs-lg: clamp-font-size(1);
$fs-xl: clamp-font-size(2);
$fs-2xl: clamp-font-size(3);
$fs-3xl: clamp-font-size(4);
$fs-4xl: clamp-font-size(5);
$fs-5xl: clamp-font-size(6);

:root {
	--primary-clr: hsl(23, 80%, 52%);
	--primary-hover-clr: hsl(23, 80%, 47%);
	--primary-active-clr: hsl(23, 80%, 44%);
	--primary-ghost-clr: #fdf3ed;
	--secondary-clr: #f2f2f2;
	--secondary-hover-clr: #e8e8e8;
	--secondary-active-clr: #d9d9d9;
	--lower-backround-clr: hsl(220, 16%, 96%);
	--background-clr: hsl(0, 0%, 99%);
	--gray-clr: #737373;
	--gray-light-clr: #adadad;
	--gray-extra-light-clr: hsl(0, 0%, 90%);
	--gray-extraaa-light-clr: hsl(0, 0%, 96%);
	--text-black-clr: hsl(0, 0%, 25%);
	--text-white-clr: #ffffff;

	--shadow-y: 0px -1px 2px 0px hsla(0, 0%, 0%, 8%), 0px 1px 2px 0px hsla(0, 0%, 0%, 8%);

	--transition: all 0.12s ease-out;

	--ff: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--ff: "Roboto", serif;
}
body.dark {
	//ghi de dark mode o day
	--background-clr: #000;
}
